## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets

## Visual Studio / Rider
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

## dotnet
project.lock.json
project.fragment.lock.json
artifacts/

## OS
.DS_Store
Thumbs.db

## Generated data
*.csv
*.db
*.db-shm
*.db-wal

## Settings
appsettings*.json

## IDE
.idea/
